@CHARSET "ISO-8859-1";
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 10px;
  text-align: center;
  background: #bf3048;
  color: white;
  min-height: 240px !important;
}

.header img {
  float: left;
  width: 150px;
  height: 150px;
  background: #555;
}

/* Page Content */
.content {padding:0px;
 background: #fcdee3;
 
 img{
        max-width: 100%;
        max-height: 100%;
        display: block; /* remove extra space below image */
    }
 }

.content .image img {
  border-radius: 50%;
}
